@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* fundo */
::-webkit-scrollbar-track {
  background: #1F2937;
} 

/* puxador */
::-webkit-scrollbar-thumb {
  background: #848484; /* bg-gray-600 */
  border-radius: 9999px; /* rounded-full */
  border: 2px solid #1F2937; /* border-2 border-gray-400 */
}

/* hover */
::-webkit-scrollbar-thumb:hover {
  background: #a4a4a4;  /* bg-gray-500 */
}
